$color-hover: #00FF7F;
$color-copy-footer: #F0F8FF;
$color-table: #F0F8FF;
$color-text: #EEE8AA;
$coloar-background:#091818;
$color-link-nav:#091818;
$color-button: #00FF7F;
$color-contorno: #091818;